body,html{
	margin:0;
	padding:0;
}
.row{
	width:100%;
	display: flex;
}
.box{
	min-height: 150px;
	width: 100%;
	background-color:yellow;
	margin: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
}
.container{
	display:flex;
	flex-wrap:wrap;
	max-width: 100%;
	max-height: 100%;
}
.blue{
	background-color: blue;
}
.red{
	background-color: red;
}
.green{
	background-color: green
}
.yellow{
	background-color: yellow
}
.black{
	background-color: black
}
.orange{
	background-color: orange
} 
.violet{
	background-color: violet
}
.pink{
	background-color: pink
}
.white{
	background-color: lavender;
}
.indigo{
	background-color: indigo
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}